* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.blue-background {
  background-color: #72b9bf;
  background-image: -webkit-radial-gradient(#72b9bf, #bfba72, #72a3bf, #7273bf);
  background-image: radial-gradient(  #72b9bf, #bfba72, #72a3bf, #7273bf); }
