* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#article-container {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; }

.comments {
  margin: 0 auto;
  border-radius: 3px;
  width: 95%;
  height: auto;
  margin-bottom: 70px; }
  @media screen and (max-width: 500px) {
    .comments {
      width: 100%; } }
  .comments p {
    text-indent: 5em;
    width: 85%; }
  .comments h2 {
    padding-left: 0.5em;
    padding-top: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    font-weight: 700; }
  .comments time {
    position: absolute;
    bottom: 0;
    right: 0.2em; }
  .comments section {
    position: relative;
    margin: 2em auto;
    border-radius: 3px; }
  .comments section:nth-child(odd) {
    background: rgba(215, 105, 89, 0.2); }
  .comments section:nth-child(even) {
    background: rgba(214, 146, 91, 0.2); }

.form-container {
  display: block;
  margin: 0 auto;
  background-color: rgba(214, 146, 91, 0.2);
  padding: 10px;
  position: relative;
  height: auto;
  width: 95%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

#comment {
  text-align: center;
  margin: 0 auto; }
  #comment p {
    padding: 5px;
    text-indent: 0.5em; }
  #comment span {
    float: left;
    font-size: 1.2em; }
  #comment .comment-input {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    color: #3c3c3c;
    font-weight: 500;
    line-height: 22px;
    background-color: #fbfbfb;
    width: 100%;
    border: 3px solid rgba(114, 163, 191, 0.7);
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #comment .comment-input:focus {
    background: white;
    box-shadow: 0;
    border: 3px solid rgba(215, 105, 89, 0.8);
    color: #3498db;
    outline: none; }
  #comment .focused {
    color: rgba(215, 105, 89, 0.8);
    border: rgba(215, 105, 89, 0.8) solid 3px; }
  #comment .name {
    padding-left: 1%; }
  #comment .email {
    border-left: 0px; }
  #comment .name, #comment .email {
    float: left;
    width: 50%;
    border-bottom: 0px; }
    #comment .name:after, #comment .email:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 500px) {
      #comment .name, #comment .email {
        float: none;
        width: 95%; } }
  #comment .textarea label:after {
    content: "";
    display: table;
    clear: both; }
  #comment textarea {
    min-height: 10em;
    width: 95%; }
    #comment textarea:after {
      content: "";
      display: table;
      clear: both; }
  #comment .submit button, #comment #show-comments {
    display: inline-block;
    width: 30%;
    bottom: 1em; }
    @media screen and (max-width: 500px) {
      #comment .submit button, #comment #show-comments {
        width: 95%; } }
