* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button:hover {
  background: #95bacf; }

#show-comments {
  margin: 2em auto; }

.comments {
  border-radius: 10px;
  width: 86%;
  height: auto;
  margin-bottom: 70px; }
  @media screen and (max-width: 500px) {
    .comments {
      width: 100%; } }
  .comments p {
    width: 85%; }
  .comments h2 {
    float: right;
    text-align: right;
    font-size: 2em;
    font-weight: 700; }
  .comments time {
    float: right;
    text-align: right; }
  .comments section {
    margin: 2em auto;
    border-radius: 10px; }
  .comments section:nth-child(odd) {
    background: rgba(215, 105, 89, 0.2); }
  .comments section:nth-child(even) {
    background: rgba(214, 146, 91, 0.2); }

.form-container {
  display: block;
  margin: 0 auto;
  background-color: rgba(72, 72, 72, 0.4);
  padding: 10px;
  position: relative;
  width: 86%;
  border-radius: 7px; }

#comment span {
  float: left;
  font-size: 1.2em; }
#comment .comment-input {
  height: auto;
  margin: 1em auto;
  color: #3c3c3c;
  font-weight: 500;
  line-height: 22px;
  background-color: #fbfbfb;
  width: 95%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#comment .comment-input:focus {
  background: white;
  box-shadow: 0;
  border: 3px solid rgba(215, 105, 89, 0.8);
  color: #3498db;
  outline: none; }
#comment .focused {
  color: rgba(215, 105, 89, 0.8);
  border: rgba(215, 105, 89, 0.8) solid 3px; }
#comment .name, #comment .email {
  float: left;
  width: 45%; }
#comment 00000000
. submit  {
  position: absolute;
  bottom: 1em;
  right: 1em; }
