* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.portfolio-item {
  margin: auto auto;
  min-height: 275px;
  min-width: 275px;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .portfolio-item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .portfolio-item {
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      .portfolio-item:last-child {
        margin-right: 0; } }

.yellow {
  background: rgba(191, 186, 114, 0.7); }

.blue {
  background: rgba(114, 163, 191, 0.7); }

.green {
  background: rgba(114, 185, 191, 0.7); }

#filter-container {
  width: 80%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #filter-container:after {
    content: "";
    display: table;
    clear: both; }
  #filter-container button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 10.43705%;
    margin: 0 auto; }
    #filter-container button:last-child {
      margin-right: 0; }
    #filter-container button:nth-child(4n) {
      margin-right: 0; }
    #filter-container button:nth-child(4n+1) {
      clear: left; }

#portfolio-container {
  border-radius: 10px;
  background: rgba(225, 225, 225, 0.5);
  width: 80%;
  margin: 2em;
  padding: 2.35765%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #portfolio-container:after {
    content: "";
    display: table;
    clear: both; }

.portfolio-item img {
  margin: 0 auto; }

.portfolio-item figure {
  display: block;
  position: relative;
  overflow: hidden; }

.portfolio-item figcaption {
  display: none; }

.portfolio-item figure:hover figcaption {
  display: inline-block; }
