* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#posts-container h1, #article-container h1, #posts-container h2, #article-container h2 {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif !important; }

#posts-container, #article-container {
  margin: 0 auto;
  max-width: 720px;
  width: 86%; }
  @media screen and (max-width: 700px) {
    #posts-container, #article-container {
      width: 100%; } }
  #posts-container h1, #article-container h1 {
    color: #72a3bf;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin: 1em; }
  #posts-container time, #article-container time {
    font-size: 1em;
    font-weight: 700; }
    @media screen and (max-width: 500px) {
      #posts-container time, #article-container time {
        font-weight: 400;
        font-size: 0.8em; } }
  #posts-container .read-time, #article-container .read-time {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 100%; }
    @media screen and (max-width: 500px) {
      #posts-container .read-time, #article-container .read-time {
        font-weight: 400;
        font-size: 0.8em; } }
  #posts-container h2, #article-container h2 {
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
    font-size: 2em; }
    @media screen and (max-width: 500px) {
      #posts-container h2, #article-container h2 {
        font-size: 1.5em;
        font-weight: 600;
        padding: 10px; } }
  #posts-container a, #article-container a {
    color: rgba(215, 105, 89, 0.8); }
  #posts-container a:hover, #article-container a:hover {
    color: rgba(255, 255, 255, 0.6); }
  #posts-container article, #article-container article {
    text-align: center;
    line-height: 150%;
    padding: 20px;
    width: 100%;
    height: auto; }
    #posts-container article:after, #article-container article:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 500px) {
      #posts-container article, #article-container article {
        padding: 10px;
        line-height: 150%; } }
  #posts-container article:first-child, #article-container article:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  #posts-container article:last-child, #article-container article:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
  #posts-container article:nth-child(odd), #article-container article:nth-child(odd) {
    background: rgba(215, 105, 89, 0.2); }
    #posts-container article:nth-child(odd) p, #posts-container article:nth-child(odd) h2, #posts-container article:nth-child(odd) time, #posts-container article:nth-child(odd) h3, #article-container article:nth-child(odd) p, #article-container article:nth-child(odd) h2, #article-container article:nth-child(odd) time, #article-container article:nth-child(odd) h3 {
      text-align: left; }
    #posts-container article:nth-child(odd) img, #posts-container article:nth-child(odd) time, #article-container article:nth-child(odd) img, #article-container article:nth-child(odd) time {
      float: right; }
  #posts-container article:nth-child(even), #article-container article:nth-child(even) {
    background: rgba(214, 146, 91, 0.2); }
    #posts-container article:nth-child(even) p, #posts-container article:nth-child(even) h2, #posts-container article:nth-child(even) time, #posts-container article:nth-child(even) h3, #article-container article:nth-child(even) p, #article-container article:nth-child(even) h2, #article-container article:nth-child(even) time, #article-container article:nth-child(even) h3 {
      text-align: right; }
    #posts-container article:nth-child(even) img, #posts-container article:nth-child(even) time, #article-container article:nth-child(even) img, #article-container article:nth-child(even) time {
      float: left; }
  #posts-container .content, #article-container .content {
    line-height: 120%;
    margin: 0 auto;
    width: 100%;
    width: 95%; }
  #posts-container img, #article-container img {
    padding: 20px; }
    @media screen and (max-width: 500px) {
      #posts-container img, #article-container img {
        height: 100px;
        width: 100px; } }
  #posts-container p, #article-container p {
    text-indent: 35px;
    padding: 20px;
    font-weight: 500;
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 5px; }
    @media screen and (max-width: 500px) {
      #posts-container p, #article-container p {
        font-size: 1em;
        padding: 10px;
        text-align: center !important; } }

.pagination {
  font-size: 1.3em;
  font-weight: 700;
  height: 70px;
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 70px; }
