* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.blue-background {
  background-color: #72b9bf;
  background-image: -webkit-radial-gradient(#72b9bf, #bfba72, #72a3bf, #7273bf);
  background-image: radial-gradient(  #72b9bf, #bfba72, #72a3bf, #7273bf); }

.portfolio-item img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.overflow-hidden {
  overflow: hidden; }

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: #7273bf;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px); }

header {
  position: relative;
  height: 50px;
  width: 100%;
  background: #72a3bf; }
  @media only screen and (min-width: 768px) {
    header {
      height: 70px; } }

#cd-logo {
  display: block;
  float: left;
  margin: 12px 0 0 20px; }
  #cd-logo img {
    display: block; }
  @media only screen and (min-width: 768px) {
    #cd-logo {
      margin: 22px 0 0 30px; } }

#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none; }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 18px; }
  #cd-top-nav li {
    display: inline-block;
    margin-right: 1em; }
  #cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600; }
    #cd-top-nav a.current {
      background-color: #2c3e50; }
    .no-touch #cd-top-nav a:hover {
      color: rgba(255, 255, 255, 0.7); }
  @media only screen and (min-width: 768px) {
    #cd-top-nav {
      display: block; } }

#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #95bacf; }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none; }
  #cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */ }
    #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; }
    #cd-menu-trigger .cd-menu-icon::before {
      bottom: 5px; }
    #cd-menu-trigger .cd-menu-icon::after {
      top: 5px; }
  #cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      background-color: white; }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before {
      bottom: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    #cd-menu-trigger {
      width: 110px;
      padding-left: 1.25em; }
      #cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 70px; }
      #cd-menu-trigger .cd-menu-icon {
        left: auto;
        right: 1.25em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 260px;
  background-color: #2c3e50;
  overflow-y: auto;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px); }
  #cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px; }
  #cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none; }
  #cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: #59abe3; }
    #cd-lateral-nav a.current {
      background-color: #3e5771;
      color: #FFF; }
    .no-touch #cd-lateral-nav a:hover {
      color: #FFF; }
  @media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
      margin: 20px 0; } }
  #cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */ }
  #cd-lateral-nav .item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-arrow-sec-exp-nav.svg") no-repeat center center;
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  #cd-lateral-nav .item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

#cd-lateral-nav .socials {
  padding: 0 32px; }
  #cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both; }
  #cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-socials.svg");
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em; }
    #cd-lateral-nav .socials a.cd-twitter {
      background-position: 0 0; }
    #cd-lateral-nav .socials a.cd-github {
      background-position: -32px 0; }
    #cd-lateral-nav .socials a.cd-facebook {
      background-position: -64px 0; }
    #cd-lateral-nav .socials a.cd-google {
      background-position: -96px 0; }
    .no-touch #cd-lateral-nav .socials a:hover {
      background-color: #72a3bf; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
        background-position: 0 -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-github {
        background-position: -32px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
        background-position: -64px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-google {
        background-position: -96px -32px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Kill those browser defaults dead.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #6cac70;
  text-decoration: none; }

body {
  font-size: 100%;
  font-family: "Titillium Web", sans-serif;
  color: white;
  position: relative;
  background-color: #7273bf; }

button {
  width: 8em;
  text-align: center;
  padding: 10px; }
  @media screen and (max-width: 500px) {
    button {
      padding: 0;
      width: 5em; } }

button {
  display: block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
  margin-bottom: 1px; }
  @media screen and (max-width: 500px) {
    button {
      width: auto;
      height: auto;
      padding: 10px; } }

.so-scroller {
  margin-top: 3em;
  overflow: hidden; }

.so-section {
  margin-bottom: 15em; }

/* Clear floats of children */
.so-section:before,
.so-section:after {
  content: " ";
  display: table; }

.so-section:after {
  clear: both; }

/* Text styling */
.so-section h2 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1; }

.so-section p {
  font-size: 2em;
  font-weight: 300; }

/* Sides */
.so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 4%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

/* Clear floats of children */
.so-side:before,
.so-side:after {
  content: " ";
  display: table; }

.so-side:after {
  clear: both; }

.so-side-right {
  text-align: left; }

.so-side-left {
  text-align: right; }

.so-side-right img {
  float: left; }

.so-side-left img {
  float: right; }

/* Initial state (hidden or anything else) */
.so-init .so-side {
  opacity: 0; }

.so-init .so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px); }

.so-init .so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px); }

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.so-section.so-animate .so-side-left,
.so-section.so-animate .so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

/* For example, add a delay for the right side:
.so-section.so-animate .so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/
/* Example media queries */
@media screen and (max-width: 73.5em) {
  .so-scroller {
    font-size: 65%; }

  .so-section h2 {
    margin: 0; }

  .so-side img {
    max-width: 120%; } }
@media screen and (max-width: 41.125em) {
  .so-side {
    float: none;
    width: 100%; }

  .so-side img {
    max-width: 100%; } }
.placeholder-275 {
  width: 275px;
  height: 275px;
  float: left;
  margin-top: 10px;
  margin-right: 10px; }

.portfolio-item {
  display: none; }

.yellow {
  background: #bfba72; }

.blue {
  background: #72a3bf; }

.green {
  background: #72b9bf; }

#portfolio-container {
  display: block;
  margin: 0 auto;
  width: 85%;
  background: rgba(225, 255, 255, 0.2); }

.portfolio-item img {
  display: block;
  margin: 0 auto; }

.portfolio-item figure {
  display: block;
  position: relative;
  overflow: hidden; }

.portfolio-item figcaption {
  opacity: 0;
  position: absolute;
  color: #fff;
  background: rgba(225, 255, 255, 0.2);
  bottom: 0;
  left: -30%;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }

.portfolio-item figure:hover figcaption {
  opacity: 1;
  left: 0; }
