* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none; }

.items {
  display: block;
  width: 80%;
  margin: 0 auto; }
  .items a {
    color: rgba(215, 105, 89, 0.8); }
    .items a :hover {
      color: rgba(225, 142, 130, 0.8); }

.pagination {
  font-size: 1.3em;
  font-weight: 700;
  height: 70px;
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 70px; }
