body {
	background: $light-purple;
}


// Grid system

// Buttons

button {
	width: 8em;
	text-align: center;
	padding: 10px;
	@include media($mobile){
		padding: 0;
		width: 5em;
		}
}
button {
	display: block;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 10px;
	margin-bottom: 1px;
	@include media($mobile){
		width: auto;
		height: auto;
		padding: 10px;
		}
	}