// Any value prefixed with $, eg $color can be changed in _variables.scss

*, *:after, *:before {
	@include box-sizing(border-box);
}

body, html {
	@extend %primary-font;
	margin:0;
	padding:0;
	height:100%; 
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $link;
	text-decoration: none;
}
body {
	color: $main-text;
	position: relative;
}



// Grid system

// Buttons

button {
	width: 8em;
	text-align: center;
	padding: 10px;
	display: block;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 10px;
	margin-bottom: 1px;
	@include media($mobile){
		padding: 0;
		width: 100%;
		height: auto;
		padding: 10px;
		}
	}