// Any value prefixed with $, eg $color can be changed in _variables.scss

*, *:after, *:before {
	@include box-sizing(border-box);
}

body, html {
	@extend %primary-font;
	margin:0;
	padding:0;
	height:100%; 
}

html *, body * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $link;
	text-decoration: none;
}
body {
	color: $main-text;
	position: relative;
}



// Grid system

// Buttons

button {
	text-align: center;
	padding: 10px;
	display: block;
	text-decoration: none;
	background: $button-color;
	color: white;
	padding: 10px;
	margin-bottom: 1px;
	@include media($mobile){
		padding: 0;
		width: 100%;
		height: auto;
		padding: 10px;
		}
	}

button:hover {
	background: lighten($button-color, 10%);
}	

h1 {
	 	@extend %heading-font;
	 	color: $light-blue;
	 	text-align: center;
	 	font-weight: 700;
	 	font-size: 2em;
	 }