@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";


button:hover {
	background: lighten($button-color, 10%);
}
#show-comments {
	margin: 2em auto;
	@include media($mama-bear) {
		width: 86%;
	}
}
.comments {
	border-radius: 10px;
	width: 86%;
	height: auto;
	margin-bottom: $footer-margin;
	@include media($mama-bear) {
		width: 100%;
	}
	p {
		width: 85%;
	}
	h2 {
		float: right;
		text-align: right;
		font-size: 2em;
		font-weight: 700;
	}
	time {
		float: right;
		text-align: right;
	}
	section {
		margin: 2em auto;
		border-radius: 10px;

	}
	section:nth-child(odd) {
		background:$article1;
	}
	section:nth-child(even){
		background: $article2;
	}
}

.form-container {
	display: block;
	margin: 0 auto;
	background-color: $comment-container;
	@include padding(10px, 10px, 10px, 10px );
	position: relative;
	height: auto;
	width: 95%;
	border-radius: 7px;


}
#comment {
	text-align: center;
	margin: 0 auto;
	p {
		padding: 5px;
		text-indent: 0.5em;

	}
	span {
		float: left;
		font-size: 1.2em;
	}
	.comment-input {
		display: inline-block;
		height: auto;
		margin: 0 auto;
		color: $comment-color;
		font-weight: 500;
		line-height: 22px;
		background-color: $comment-input;
		width: 95%;
		border: 3px solid rgba(0,0,0, 0.2);
		@include padding(1em 1em 1em 1em);
		@include box-sizing(border-box);

	}
	.comment-input:focus {
		background: $comment-focus;
		box-shadow: 0;
		border: 3px solid $comment-focus-border;
		color: $comment-color-focus;
		outline: none;
	}
	.focused {
		color: $focused;
		border: $focused solid 3px;
	}
	.name {}
	.name, .email {
		float: left;
		width: 47.5%;
		border-bottom: 0px;
		@include clearfix;
		@include media($mama-bear) {
			float: none;
			width: 95%;
		}
	}
	.textarea label {
		@include clearfix;
	}
	textarea {
		@include clearfix;
		width: 95%;
	}
	.submit {
		position: absolute;
		bottom: 1em;
		right: 1em;
		@include media($mama-bear) {
			width: 95%;
		}
	}
}