@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";

#show-comments {
	margin: 2em auto;
}
.comments {
	border-radius: 10px;
	width: 80%;
	height: auto;
	margin-bottom: $footer-margin;
	@include media($mama-bear) {
		width: 100%;
	}
	p {
		width: 85%;
	}
	h2 {
		float: right;
		text-align: right;
		font-size: 2em;
		font-weight: 700;
	}
	time {
		float: right;
		text-align: right;
	}
	section {
		margin: 2em auto;
		border-radius: 10px;

	}
	section:nth-child(odd) {
		background:$article1;
	}
	section:nth-child(even){
		background: $article2;
	}
}

// Credit: http://codepen.io/rexkirby/pen/Fdnlz

.form-container {
	display: block;
	margin: 1em auto;
	background-color: $comment-container;
	@include padding(35px, 35px, 50px, 35px );
	position: relative;
	width: 50%;
	border-radius: 7px;

}
#comment {

	.comment-input {
		color: $comment-color;
		font-weight: 500;
		line-height: 22px;
		background-color: $comment-input;
		margin-bottom: 10px;
		width: 100%;
		border: 3px solid rgba(0,0,0, 0);
		@include padding(13px 13px 13px 54px);
		@include box-sizing(border-box);

	}
	.comment-input:focus {
		background: $comment-focus;
		box-shadow: 0;
		border: 3px solid $comment-focus-border;
		color: $comment-color-focus;
		outline: none;
		@include padding(13px 13px 13px 54px);
	}
	.focused {
		color: $focused;
		border: $focused solid 3px;
	}
	.name {
		background-image: ""; 
		background-size: 30px 30px;
		background-position: 11px 8px;
		background-repeat: no-repeat;
	}
	.name:focus {}
	.email {
		background-image: "";
		background-size: 30px 30px;
		background-position: 11px 8px;
		background-repeat: no-repeat;
	}
}