@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";
@import "partials/magnific";

// fig-description is a selector for magnificPopup() captions
.fig-description {
	display: none;
}

//Necessary for MixItUp transitions

.portfolio-item {
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	display: none;
	height: 300px;
	width: 400px;
	@include margin(1em 1em 1em 1em);

}

.yellow-button {
	background: $category1;
}

.orange-button {
	background: $category2;
}

.blue-button {
	background: $category3;
}
.yellow {
	border: 6px solid $category1;

}
.orange {
	border: 6px solid $category2;

}
.blue {
	border: 6px solid $category3;
}

#filter-container {
	@extend %heading-font;
	text-align: center;
	width: 60%;
	margin: 2em auto;
	@include media($mama-bear) {
		width: 50%;
		button {
			width: 100%;
		}
	}
	button {
		display: inline-block;
		width: 7em;
	}
	.yellow {
		:hover {border: 6px solid lighten($category1, 10%);}
	}
	.blue {
		:hover {border: 6px solid lighten($category3, 10%);}
	}
	.orange {
		:hover {border: 6px solid lighten($category2, 10%);}
	}
}

#portfolio-container {
	margin: 0 auto;
	text-align: center;
	width: 95%;
	margin-bottom: $footer-margin+10px;
	@include clearfix;
	@include media($baby-bear){
		width: 100%;
	}
}

// base styles
.portfolio-item {
	img {
		position: relative;
		display: block;
		margin: 0 auto;
	}

}


// transitions & shinies

#portfolio-container {

	figure {
		overflow: hidden;
		margin: 1em;
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: $figure-bg;
		color: #fff;
	}

	figcaption span:before {
		content: "by ";
	}

	figcaption a {
		text-align: center;
		padding: 5px 10px;
		display: inline-block;

	}

	figure img {
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s
	}
	figure:hover img {
		transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
	}
	figcaption h2 {
		position: absolute;
		top: 0;
		left: 10px;
	}
	figcaption p {
		position: absolute;
		bottom: 0;
		left: 10px;
	}
	figcaption {
		height: 100px;
		width: 100%;
		top: auto;
		bottom: 0;
		//opacity: 0;
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		transition: transform 0.4s, opacity 0.1s 0.3s;
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	}
	figure:hover figcaption {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		transition: transform 0.4s, opacity 0.1s;
		-webkit-transition: transform 0.4s, opacity 0.1s;
	}

	figcaption a {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}