@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";


#contact-container {
	form {
		font-size: 1.2em;
		text-align: center;
		display: block;
		width: 60%;
		margin: 0 auto;
		@include media($mama-bear) {
			width: 100%;
		}
	}
	input, textarea {
		border: 3px solid $light-blue-a;

	}
	label {
		text-align: left;
	}

	button {
		display: inline-block;
	}

}

.notify {
	text-align: center;
	color: $error;
	width: 80%;
	margin: 0 auto;
}
#sent {
	display: none;
	width: 100%;
	background: $dark-blue-a;
	height: 200px;

}

#failed {
	display: none;
	width: 100%;
	background: $red-orange;
	height: 200px;
}