@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";



//Necessary for MixItUp transitions

.portfolio-item {
	margin: auto auto;
	min-height: 275px;
	min-width: 275px;
	@include span-columns(3, no-display);
	@include media($mobile){
		@include span-columns(4, no-display);
	}
}

.yellow {
	background: $light-yellow-a;
}
.blue {
	background: $light-blue-a;
}
.green {
	background: $light-green-a;
}

#filter-container {
	width: 80%;
	@include outer-container;
	button {
		@include span-columns(1.5);
		@include omega(4n);
		margin: 0 auto;

	}
}

#portfolio-container {
	border-radius: 10px;
	background: $glass;
	width: 95%;
	@include margin(2em, auto, $footer-margin, auto);
	@include pad();
	@include outer-container;
}

.portfolio-item img {
	display: block;
	margin: 0 auto;
}

.portfolio-item figure {
	display: block;
	position: relative;
	overflow: hidden;

}
.portfolio-item figcaption {
	display: none;
}

.portfolio-item figure:hover figcaption {
	display: inline-block;
}
