@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";


 h1 {
 	@extend %heading-font;
 	text-align: center;
 	font-weight: 700;
 	font-size: 2em;
 	margin: 1em;
 }
#posts-container{
	text-align: center;
	margin: 0 auto;
	background: rgba(225, 225, 225, 0.6);
	margin-bottom: $footer-margin;
	width: 80%;
	@include media($papa-bear) {
		width: 100%;
	}
	time {
		font-weight: 600;
		padding: 15px;
		@include clearfix;
	}
	h1 {
		color: #fff;
		font-weight: 700;
		font-size: 2em;
	}

	a:hover {
		color: $light-yellow;
	}
	article {
		padding: 20px;
		width: 100%;
		height: 300px;
	}

	article:nth-child(odd) {
		background: $article1;
		img {float: right;}
		time{
			float: left;
			text-align: left;}
	}
	article:nth-child(even){
		background: $article2;
		img {float: left;}
		time{
			float: right;
			text-align: right;}
	}

	.content {
		line-height: 200%;
		margin: 0 auto;
		width: 100%;
		@include media($papa-bear);
			width: 100%;
	}
	.pagination {}
	ul {
		padding: 10px;
	}

	img {
		@include media($mama-bear) {
			height: 100px;
			width: 100px;

		}
	}
	p {
		font-weight: 700;
		font-size: 1.5em;
		padding: 10px;
	}

}
