@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";


#posts-container{
	margin: 0 auto;
	background: rgba(225, 225, 225, 0.6);
	margin-bottom: $footer-margin;
	width: 80%;

	h1 {
		font-family: $heading-font;
		font-size: 50px;
	}
	.content {
		padding: 1em;
		margin: 2em;
	}

	.pagination {}
	ul {}

}