@import "bourbon/bourbon";
$visual-grid: true;
$visual-grid-color: rgb(191, 186, 114);
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
@import "neat/neat";

@import "partials/variables";

// The page-x and article-x styles should be better organized

@import "partials/nav";
@import "partials/reset";
//@import "partials/footer";
@import "base";
@import "partials/page-about";
@import "partials/page-work"