
footer { 
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background: $header-bg;
	@include clearfix;
}

// #footer-container exists so margins can hold content e.g. .go-top
#footer-container {
	p {
		text-align: center;
	}
}

// Fixed positioning required minor hackery in webkit browsers.
// I haven't included an Opera fix, but here is a possibility: http://stackoverflow.com/a/15203880
.go-top {
	// force re-draw for fixed positioning
	-webkit-backface-visibility: hidden;
  	-webkit-transform: translateZ(0);
  	
  	 z-index: 999;
	display: none;
	font-size: 4em;
	position: fixed !important;
	bottom: 5px;
	left: 25px;
	text-decoration: none;
	color: $red-orange;
	@include media($mama-bear) {
		bottom: $footer-margin;
		left: 5px;
	}
}

.alert-bottom {
	//fore re-draw for fixed positioning
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	z-index: 999;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: none;
	width: 20em;
	max-height: 60%;
	height: 60%;
	background: $red-orange;
	position: fixed !important;
	bottom: 0;
	right: 0;
	@include border-width(3px null null 3px);
	@include border-style(solid null null solid);
	@include border-color($h1 null null $h1);

	button {
		background: $light-blue;
		margin-left: 3.5em;
	}

	button:hover{
		background: lighten($light-blue, 10%);
	}

	section {
		float: left;
		margin: 0.5em;
		border-radius: 3px;
		width: 95%;
		padding: 20px;
	}
	
	p {
		text-align: center;
		color: $h1;
		font-weight: 600;
		font-size: 1.5em;
	}
	@include media($mama-bear) {
		width: 100%;
		@include border-width(3px null null null);
		@include border-style(solid null null null);
		@include border-color($h1 null null null);
		p{
			font-size: 0.8em;
		}
		section {
			padding: 2px;
			margin-top: 10px;
		}
		button {
			width: 100%;
			margin: 0 auto;
		}
	}
}

.alert-close {
	color: $h1;
	top: 0;
	left: 0;
	font-size: 2.5em;
}

.alert-close:hover {
	color: lighten($h1, 10%);
}

.dismissed {
	display: none;
}