@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-gq1ely');
	src:url('../fonts/icomoon.eot?#iefix-gq1ely') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-gq1ely') format('woff'),
		url('../fonts/icomoon.ttf?-gq1ely') format('truetype'),
		url('../fonts/icomoon.svg?-gq1ely#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mug:before {
	content: "\e609";
}
.icon-cancel:before {
	content: "\e60b";
}
.icon-layout:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-steam:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-arrow-up:before {
	content: "\e600";
}
.icon-chrome:before {
	content: "\e604";
}
.icon-firefox:before {
	content: "\e605";
}
.icon-IE:before {
	content: "\e606";
}
.icon-opera:before {
	content: "\e607";
}
.icon-safari:before {
	content: "\e608";
}
