// The navigation menu styles
// Rename this to header.scss to match Anchor's nomenclature

header {
	display: block;
	@include outer-container();
	background-color: rgba(225, 255, 255, 0.2);
	height: 175px;}

.logo{
	@extend %pretty-bg;
	display: block;
	margin: 0 auto;
	@include background-image(url("$header-logo"));
	@include span-columns(4);
	@include shift(4);
	@include margin(35px null null null);
}

.logo h1 {
	line-height: 150%;
	font-size: 1.7em;
	clear: both;
	text-align: center;
	@include margin(10px null null 10px);
	@include span-columns(2);
	@include shift(1);
}

.logo a, .logo a:visited {;
	text-decoration: none;
}
#toggle {
	position: fixed;
	z-index: 9999;
	width: 1em;
	height: 1em;
	@include margin(10px 15px 5px null);
	@include span-columns(1);
	@include shift(11);


}

#toggle:hover {
	cursor: pointer;
}

#toggle div {
	width: 100%;
	height: 5px;
	background: white;
	margin: 4px auto;
	transition: all 0.3s;
	backface-visibility: hidden;
}

#toggle.on #bar1 {
	transform: rotate(45deg)
	translate(5px, 5px);
}

#toggle.on #bar2 {
	opacity: 0;
}

#toggle.on #bar3 {
	transform: rotate(-45deg)
	translate(7px, -8px);
}

// The height of this container adjusts based on nav elements inside
#menu {
	position: absolute;
	display: none;
	height: auto;
	background: $light-blue;
	font-size: 1em;
	border-radius: 3px;
	@include margin(5px null null null);
	@include span-columns(3, $display: no-display);
	@include shift(9);
	@include media($mobile){
		font-size: 1.2em;
		@include span-columns(4, $display: no-display);
		@include shift(0);
		@include margin(null null null null)
	}
}

#menu ul {
	list-style: none;
	@include margin(80px null null null);
}

#menu ul li {
	width: 100%;
	text-align: center;
	padding: 10px;
	@include media($mobile){
		padding: 0
		}
}
#menu ul li a {
	@extend %vertical-align;
	display: block;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 10px;
	margin-bottom: 1px;
	@include media($mobile){
		height:50px;
		padding: 10px;
		}

}

#menu ul li a:visited{
	text-decoration: none;

}

// differentiate Page & category roll styling
.nav {}
.catgories {}
#search {

}