// The organization of this file is shameful. Clean it up, there are PEOPLE watching.


//assets
// backgrounds - values for $bg-img
$light-wood: "../img/bg_wood.png";
//Breakpoints

$baby-bear: new-breakpoint(max-width 320px);
$mama-bear: new-breakpoint(max-width 500px);
$papa-bear: new-breakpoint(max-width 700px);
$mobile: new-breakpoint(max-width 500px 4);

// variables - colors
//Sky palette

$light-green: rgb(114, 185, 191);
$light-yellow: rgb(191, 186, 114);
$light-blue: rgb(114, 163, 191);
$light-purple: rgb(114, 115, 191);

// posts & articles
$article1: $light-yellow;
$article2: $light-green;


// general
$main-text: #fff; // main text
$link: $light-blue; // anchor tags
$link-hover: $light-yellow;
$background-color: rgba(225, 225, 225, 0.9); // body background color
$bg-img: $light-wood;


// nav colors
$color-1: $light-blue; // dark
$color-2: #2C3E50; // darker
$color-3: #59ABE3; // light

// Fonts - Usage: https://github.com/penman/Sass-Web-Fonts
// Google fonts URL in header.php
%primary-font {
	font-family: 'Lora', Arial, serif !important;
}
%heading-font {
	font-family: 'Titillium Web', sans-serif !important;
}

// variables - z-index 

$content-zindex: 2;
$secondary-nav: 1;

// variables - header height 

$header-S: 50px;
$header-M: 70px;

// footer margin applied to various content containers for push
$footer-margin: 95px;
// Some pretty color samples


%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%pretty-bg {
	background-repeat: no-repeat;
	background-position: center, 0% 0%;
  	background-size: 100%, 100%, 100% 100%;
}


//header.php
$header-logo: "http://placehold.it/300x150";

//page-about.php
$aside-img: "http://placehold.it/300x200";

// placeholders
