// The organization of this file is shameful. Clean it up, there are PEOPLE watching.


//assets

// backgrounds - values for $bg-img
$light-wood: "../img/bg_wood.png";
//Breakpoints
// other breakpoints exist in the layout, but are used per-page (and therefore not included here)
$baby-bear: new-breakpoint(max-width 320px);
$mama-bear: new-breakpoint(max-width 500px);
$papa-bear: new-breakpoint(max-width 700px);
$mobile: new-breakpoint(max-width 500px 4);

// variables - colors

// 1971 http://www.colourlovers.com/palette/3429734/1971
//Sky palette

$light-green: rgb(114, 185, 191);
$light-yellow: rgb(191, 186, 114);
$light-blue: rgb(114, 163, 191);
$light-purple: rgb(114, 115, 191);
$red-orange: rgba(215,105,89, 0.8);

$light-orange-a: rgba(214,146,91, 0.7);
$dark-blue-a: rgba(13,60,92, 0.8);
$light-yellow-a: rgba(213,186,93, 0.7);
$light-beige-a: rgba(209,203,161, 0.7);
$light-blue-a: rgba(114, 163, 191, 0.7);


// interactives
$button-color: $light-blue;
$button-hover: lighten($light-blue, 10%) !default;

// posts & articles
$h1-alt: $light-blue;
$h1: rgba(#fff, 0.8);
$h1-shadow: rgba(214,146,91, .7);
$page-h1: $red-orange;
$article1: rgba(215,105,89, .2);
$article2: rgba(214,146,91, .2);
$glass: rgba(225, 225, 225, .5);
$dark-glass: rgba(225, 225, 225, .7);


$comment-color: #3c3c3c;
$comment-color-focus: #3498db;
$comment-focus: #fff;
$comment-input: $glass;
$comment-border: $light-blue-a;
$comment-focus-border: $red-orange;
$focused: $red-orange;



// general
$main-text: rgba(13,60,92, 0.8); // main text
$link: $light-blue; // anchor tags
$link-hover: rgba(#fff, 0.6);
$background-color: rgba(225, 225, 225, 0.9); // body background color
$bg-img: $light-wood;
$error: $red-orange;


// nav colors
$nav-emphasis: rgba(214,146,91, 0.9);
$header-bg: $light-blue-a; // dark
$color-2: rgba(13,60,92, 0.8); // darker
$color-3: #59ABE3; // light


// Fonts - Usage: https://github.com/penman/Sass-Web-Fonts
// Google fonts URL in header.php
%primary-font {
	font-family: 'Glegoo', serif !important;
}
%heading-font {
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif !important;
}

// variables - z-index 

$content-zindex: 2;
$secondary-nav: 1;

// variables - header height 

$header-S: 50px;
$header-M: 70px;

// footer margin applied to various content containers for push
$footer-margin: 70px;


// page-portfolio tones
$category1: $light-yellow-a;
$category2: $light-orange-a;
$category3: $dark-blue-a;

// page-portfolio figures
$figure-bg: $red-orange;




%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%pretty-bg {
	background-repeat: no-repeat;
	background-position: center, 0% 0%;
  	background-size: 100%, 100%, 100% 100%;
}


//header.php
$header-logo: "http://placehold.it/300x150";

//page-about.php
$aside-img: "http://placehold.it/300x200";

// mixins

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

@mixin lighten($percent) {
  
}